---
component: Avatars
layout: main-layout.html
---
<a href="https://design.atlassian.com/latest/product/components/avatars/" class="aui-button aui-button-link" id="adg-button">Design guidelines</a>

<h3>Summary</h3>
<p>Avatars are used to add a human touch and instant clarity when understanding which user did what in the application. We also use avatars for projects, repositories, spaces and other container metaphors within Atlassian Apps.</p>

<h4>User avatars</h4>
<p>User avatars come in 5 sizes. All user avatars have a border-radius on them. No sharp edges, please.</p>

<h4>Project avatars</h4><p>Avatars are used for projects, spaces and repositories to give them a visual identity. These avatars are round to clearly differentiate them from user avatars.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-avatars"><code>com.atlassian.auiplugin:aui-avatars</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <span class="aui-avatar aui-avatar-xsmall">
        <span class="aui-avatar-inner">
            <img src="images/avatar-16.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-small">
        <span class="aui-avatar-inner">
            <img src="images/avatar-24.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-medium">
        <span class="aui-avatar-inner">
            <img src="images/avatar-32.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-large">
        <span class="aui-avatar-inner">
            <img src="images/avatar-48.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-xxlarge">
        <span class="aui-avatar-inner">
            <img src="images/avatar-96.png" alt="User Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-small">
        <span class="aui-avatar-inner">
            <img src="images/project-24.png" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-medium">
        <span class="aui-avatar-inner">
            <img src="images/project-32.png" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-large">
        <span class="aui-avatar-inner">
            <img src="images/project-48.png" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-xlarge">
        <span class="aui-avatar-inner">
            <img src="images/project-64.png" alt="Project Avatar">
        </span>
    </span>
    <span class="aui-avatar aui-avatar-project aui-avatar-xxxlarge">
        <span class="aui-avatar-inner">
            <img src="images/project-128.png" alt="Project Avatar">
        </span>
    </span>
</div>

<h3>Code</h3>

<aui-docs-example>
    <aui-docs-example-html>
        <span class="aui-avatar aui-avatar-xsmall">
            <span class="aui-avatar-inner">
                <img src="//docs.atlassian.com/aui/latest/docs/images/avatar-16.png"></img>
            </span>
        </span>
    </aui-docs-example-html>
</aui-docs-example>

<aui-docs-example>
    <aui-docs-example-html>
        <span class="aui-avatar aui-avatar-project aui-avatar-xlarge">
            <span class="aui-avatar-inner">
                <img src="//docs.atlassian.com/aui/latest/docs/images/project-128.png">
            </span>
        </span>
    </aui-docs-example-html>
</aui-docs-example>
