---
component: Badges
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/badges/" class="aui-button aui-button-link" id="adg-button">Design guidelines</a>
<h3>Summary</h3>
<p>Badges provide quick visual identification for <strong>numeric values</strong> such as tallies and other quantities. They are not used for anything other than integers. For statuses, use Lozenges. To call out tags or other high-visibility attributes, use Labels.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-badge">
                <code>com.atlassian.auiplugin:aui-badge</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <span class="aui-badge">1</span>
    <span class="aui-badge">2</span>
    <span class="aui-badge">3</span>
    <span class="aui-badge">4</span>
    <span class="aui-badge">5</span>
    <span class="aui-badge">6</span>
    <span class="aui-badge">7</span>
</div>

<h3>Code</h3>
<h4>HTML</h4>
<aui-docs-example>
    <aui-docs-example-html>
        <span class="aui-badge">19</span>
    </aui-docs-example-html>
</aui-docs-example>

<h4>Soy</h4>
<aui-docs-code lang="soy">
  {call aui.badges.badge}
    {param text: '19' /}
  {/call}
</aui-docs-code>
