---
component: Date picker
layout: main-layout.html
---

<h3>Summary</h3>
<p>A simple date picker polyfill for browsers that don't support date fields. Based on the jQuery UI Date Picker.</p>

<h3>Status</h3>

<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-date-picker"><code>com.atlassian.auiplugin:aui-date-picker</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr><th>Experimental since:</th>
            <td>4.0</td></tr><tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>

<div class="aui-flatpack-example">
    <input class="aui-date-picker" id="demo-range-always" type="text" max="2012-01-25" min="2011-12-25" data-aui-dp-uuid="0" placeholder="yy-mm-dd">
    <script>
    AJS.$('#demo-range-always').datePicker({'overrideBrowserDefault': true});
    </script>
</div>

<h3>Code</h3>

<h4>HTML &amp; JavaScript</h4>

<p>The AUI Date Picker is set up with an HTML5 date input, plus JavaScript to set the desired options. In most implementations Date Picker is set to override the native implementation at all times. This gives a consistent experience in all browsers.</p>

<aui-docs-example>
    <aui-docs-example-html>
        <input class="aui-date-picker" id="demo-range-always" type="date" max="2012-01-25" min="2011-12-25" />
    </aui-docs-example-html>
    <aui-docs-example-js>
        AJS.$(document).ready(function() {
            AJS.$('#demo-range-always').datePicker({'overrideBrowserDefault': true});
        });
    </aui-docs-example-js>
</aui-docs-example>

</pre>

<h3>Options</h3>

<p>Options are set in the JavaScript options object:</p>

<table class="aui">
    <thead>
        <tr>
            <th scope="col">Option</th>
            <th scope="col">Type</th>
            <th scope="col">Default</th>
            <th scope="col">Effect</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>overrideBrowserDefault</code></td>
            <td>Boolean</td>
            <td>false</td>
            <td>Provides the polyfill regardless of whether or not the browser supports date input fields. If the browser supports date input fields, the field type is changed totext&nbsp;to suppress the browser's native date picker implementation.&nbsp;<br><br>Use this option to maintain a consistent look across browsers, especially when native implementations are aesthetically unpleasant (as with Opera) or incomplete (as with Safari's spinner-only implementation).</td>
        </tr>
        <tr>
            <td><code>firstDay</code></td>
            <td>Number</td>
            <td>-1</td>
            <td>Sets the starting day of the calendar week. Zero to six represents Sunday to Saturday, and -1 represents the localisation's default setting.</td>
        </tr>
        <tr>
            <td><code>languageCode</code></td>
            <td>String</td>
            <td>The&nbsp;<code>html</code> element's <code>lang</code> attribute if available, otherwise <code>en-AU</code>.</td>
            <td>
               <p>Localises various aspects of the date picker, including day names, the first day of the week, RTL text, month names, whether the year precedes the month, and whether the year requires a suffix.&nbsp;</p>
               </p>The following locales are supported: '' (used when an unavailable language code is specified), 'af', 'ar-DZ', 'ar', 'az', 'bg', 'bs', 'ca', 'cs', 'da', 'de', 'el', 'en-AU', 'en-GB', 'en-NZ', 'eo', 'es', 'et', 'eu', 'fa', 'fi', 'fo', 'fr-CH', 'fr', 'gl', 'he', 'hr', 'hu', 'hy', 'id', 'is', 'it', 'ja', 'ko', 'kz', 'lt', 'lv', 'ml', 'ms', 'nl', 'no', 'pl', 'pt-BR', 'pt', 'rm', 'ro', 'ru', 'sk', 'sl', 'sq', 'sr-SR', 'sr', 'sv', 'ta', 'th', 'tj', 'tr', 'uk', 'vi', 'zh-CN', 'zh-HK', and 'zh-TW'.</p>
            </td>
        </tr>
    </tbody>
</table>
