---
component: Dialog2
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/modal-dialog/" class="aui-button aui-button-link"
        id="adg-button">Design guidelines</a>

<h3>Summary</h3>
<p> Modal dialogs are used to get a response from a user or reveal critical information that cannot be ignored.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:dialog2"><code>com.atlassian.auiplugin:dialog2</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.3</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.8</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">

    <section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
        <!-- Dialog header -->
        <header class="aui-dialog2-header">
            <!-- The dialog's title -->
            <h2 class="aui-dialog2-header-main">Always use sentence case</h2>
            <!-- Actions to render on the right of the header -->
            <div class="aui-dialog2-header-secondary">
                <form class="aui" action="#">
                    <input id="demo-search" class="text" type="search" name="search">
                </form>
            </div>
            <!-- Close icon -->
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
            </a>
        </header>
        <!-- Main dialog content -->
        <div class="aui-dialog2-content">
            <p>Hello World</p>
        </div>
        <!-- Dialog footer -->
        <footer class="aui-dialog2-footer">
            <!-- Actions to render on the right of the footer -->
            <div class="aui-dialog2-footer-actions">
                <button id="dialog-submit-button" class="aui-button aui-button-primary">OK</button>
                <button id="dialog-next-button" class="aui-button">Next</button>
                <button id="dialog-close-button" class="aui-button aui-button-link">Close</button>
            </div>
            <!-- Hint text is rendered on the left of the footer -->
            <div class="aui-dialog2-footer-hint">this is a hint</div>
        </footer>
    </section>

    <button id="dialog-show-button" class="aui-button">Show dialog</button>

    <section role="dialog" id="demo-warning-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium aui-dialog2-warning" aria-hidden="true">
        <!-- Dialog header -->
        <header class="aui-dialog2-header">
            <!-- The dialog's title -->
            <h2 class="aui-dialog2-header-main">Always use sentence case</h2>
            <!-- Actions to render on the right of the header -->
            <div class="aui-dialog2-header-secondary">
                <form class="aui" action="#">
                    <input id="demo-warning-search" class="text" type="search" name="search">
                </form>
            </div>
            <!-- Close icon -->
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
            </a>
        </header>
        <!-- Main dialog content -->
        <div class="aui-dialog2-content">
            <p>Hello World</p>
        </div>
        <!-- Dialog footer -->
        <footer class="aui-dialog2-footer">
            <!-- Actions to render on the right of the footer -->
            <div class="aui-dialog2-footer-actions">
                <button id="warning-dialog-close-button" class="aui-button aui-button-link">Close</button>
            </div>
            <!-- Hint text is rendered on the left of the footer -->
            <div class="aui-dialog2-footer-hint">this is a hint</div>
        </footer>
    </section>

    <button id="warning-dialog-show-button" class="aui-button">Show warning dialog</button>
    <script>
        // Shows the dialog when the "Show dialog" button is clicked
        AJS.$("#dialog-show-button").click(function () {
            AJS.dialog2("#demo-dialog").show();
        });

        // Hides the dialog
        AJS.$("#dialog-close-button").click(function (e) {
            e.preventDefault();
            AJS.dialog2("#demo-dialog").hide();
        });
        AJS.$("#dialog-submit-button").click(function (e) {
            e.preventDefault();
            AJS.dialog2("#demo-dialog").hide();
        });
        AJS.$("#dialog-next-button").click(function (e) {
            e.preventDefault();
            AJS.dialog2("#demo-dialog").hide();
        });

        // Shows the warning dialog when the "Show warning dialog" button is clicked
        AJS.$("#warning-dialog-show-button").click(function () {
            AJS.dialog2("#demo-warning-dialog").show();
        });

        // Hides the warning dialog
        AJS.$("#warning-dialog-close-button").click(function (e) {
            e.preventDefault();
            AJS.dialog2("#demo-warning-dialog").hide();
        });
    </script>
</div>
<h3>Code</h3>
<aui-docs-example>
    <aui-docs-example-html>
        <!-- Create a trigger which will be used by the JavaScript -->
        <button id="dialog-show-button" class="aui-button">Show dialog</button>

        <!-- Render the dialog -->
        <section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
            <!-- Dialog header -->
            <header class="aui-dialog2-header">
                <!-- The dialog's title -->
                <h2 class="aui-dialog2-header-main">Always use sentence case</h2>
                <!-- Actions to render on the right of the header -->
                <div class="aui-dialog2-header-secondary">
                    <form class="aui" action="#">
                        <input id="demo-search" class="text" type="search" name="search">
                    </form>
                </div>
                <!-- Close icon -->
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>
            <!-- Main dialog content -->
            <div class="aui-dialog2-content">
                <p>Hello World</p>
            </div>
            <!-- Dialog footer -->
            <footer class="aui-dialog2-footer">
                <!-- Actions to render on the right of the footer -->
                <div class="aui-dialog2-footer-actions">
                    <button id="dialog-submit-button" class="aui-button aui-button-primary">OK</button>
                    <button id="dialog-next-button" class="aui-button">Next</button>
                    <button id="dialog-close-button" class="aui-button aui-button-link">Close</button>
                </div>
                <!-- Hint text is rendered on the left of the footer -->
                <div class="aui-dialog2-footer-hint">this is a hint</div>
            </footer>
        </section>
    </aui-docs-example-html>
    <aui-docs-example-js>
        // Shows the dialog when the "Show dialog" button is clicked
        AJS.$("#dialog-show-button").click(function() {
            AJS.dialog2("#demo-dialog").show();
        });

        // Hides the dialog
        AJS.$("#dialog-close-button").click(function(e) {
            e.preventDefault();
            AJS.dialog2("#demo-dialog").hide();
        });

        // Show event - this is triggered when the dialog is shown
        AJS.dialog2("#demo-dialog").on("show", function() {
            console.log("demo-dialog was shown");
        });

        // Hide event - this is triggered when the dialog is hidden
        AJS.dialog2("#demo-dialog").on("hide", function() {
            console.log("demo-dialog was hidden");
        });

        // Global show event - this is triggered when any dialog is show
        AJS.dialog2.on("show", function() {
            console.log("a dialog was shown");
        });

        // Global hide event - this is triggered when any dialog is hidden
        AJS.dialog2.on("hide", function() {
            console.log("a dialog was hidden");
        });
    </aui-docs-example-js>
</aui-docs-example>

<p>Note that in the footer, the
    hint text (class="aui-dialog2-footer-hint") should be placed in the DOM below the footer actions
    (class="aui-dialog2-footer-actions") even though the hint text appears to the left of the footer actions</p>
<h3>Options</h3>
<h4>HTML attributes</h4>
<p>Dialog2 configuration options are expressed through
    markup.</p>
<table class="aui">
    <tbody>
    <tr>
        <th scope="col">Class</th>
        <th scope="col">Description</th>
        <th scope="col">Example Usage</th>
    </tr>
    <tr>
        <td><code>aui-dialog2-small | aui-dialog2-medium | aui-dialog2-large | aui-dialog2-xlarge</code></td>
        <td>Controls the size of the dialog according to ADG size specifications.</td>
        <td>
            <aui-docs-code lang="html">
                <section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-small" aria-hidden="true">
                    <!-- inner content -->
                </section>
            </aui-docs-code>
        </td>
    </tr>
    <tr>
        <td><code>.aui-dialog2-warning</code></td>
        <td>Gives the dialog's header a red background color.</td>
        <td>
            <aui-docs-code lang="html">
                <section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-warning" aria-hidden="true">
                    <!-- inner content -->
                </section>
            </aui-docs-code>
        </td>
    </tr>
    </tbody>
</table>
<table class="aui" id="dialog-methods">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Values</th>
        <th class="description">Description</th>
        <th>Example Usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>data-aui-modal</code></td>
        <td><code>true</code></td>
        <td>Specifies that the dialog is modal. Modal dialogs have no close icon in the top right corner, and cannot be
            closed by clicking on the blanket behind it.
        </td>
        <td>
            <aui-docs-code lang="html">
                <section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-small" aria-hidden="true"
                         data-aui-modal="true">
                    <!-- inner content -->
                </section>
            </aui-docs-code>
        </td>
    </tr>
    <tr>
        <td><code>data-aui-remove-on-hide</code></td>
        <td><code>true</code></td>
        <td>Specifies that the dialog element should be removed from the DOM when it is hidden, either by clicking on
            the close icon, clicking on the blanket behind the dialog, or calling the hide() method.
        </td>
        <td>
            <aui-docs-code lang="html">
                <section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-small" aria-hidden="true"
                         data-aui-remove-on-hide="true">
                    <!-- inner content -->
                </section>
            </aui-docs-code>
        </td>
    </tr>
    <tr>
        <td><code>data-aui-focus-selector</code></td>
        <td><code>selector</code></td>
        <td>Controls the element that is focussed when the dialog is opened.</td>
        <td>
            <aui-docs-code lang="html">
                <section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-small" aria-hidden="true"
                         data-aui-focus-selector=".aui-dialog2-content :input:visible:enabled">
                    <!-- inner content -->
                </section>
            </aui-docs-code>
        </td>
    </tr>
    </tbody>
</table><h4>API</h4><p>To get a reference to the API for a dialog2 instance, call AJS.dialog2(selector), where selector
    can be a selector string, DOM node, or jQuery element.</p>
<aui-docs-code lang="javascript">var demoDialog = AJS.dialog2("#demo-dialog");</aui-docs-code>
<h4>Methods</h4>
<table class="aui" id="dialog-methods">
    <thead>
    <tr>
        <th>Method</th>
        <th class="description">Description</th>
        <th>Example Usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>show</code></td>
        <td>Shows a dialog.</td>
        <td>
            <aui-docs-code lang="javascript">AJS.dialog2(<span class="string">"#demo-dialog"</span>).show();</aui-docs-code>
        </td>
    </tr>
    <tr>
        <td><code>hide</code></td>
        <td>Hides a dialog.</td>
        <td>
            <aui-docs-code lang="javascript">AJS.dialog2(<span class="string">"#demo-dialog"</span>).hide();</aui-docs-code>
        </td>
    </tr>
    <tr>
        <td><code>remove</code></td>
        <td>Removes the dialog from the DOM.</td>
        <td>
            <aui-docs-code lang="javascript">AJS.dialog2(<span class="string">"#demo-dialog"</span>).remove();</aui-docs-code>
        </td>
    </tr>
    </tbody>
</table><h4>Events</h4><p>Events are triggered when dialogs are shown or closed. These can be listened to for a single
    dialog instance, or for all dialogs.</p>
<table class="aui" id="dialog-methods">
    <thead>
    <tr>
        <th>Event</th>
        <th class="description">Description</th>
        <th>Example Usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>show</code></td>
        <td>Triggered when a dialog instance is shown.</td>
        <td><aui-docs-code lang="javascript">
            AJS.dialog2("#demo-dialog").on("show", function() {
                console.log("demo-dialog was shown");
            });
        </aui-docs-code>
        </td>
    </tr>
    <tr>
        <td><code>hide</code></td>
        <td>Triggered when a dialog instance is hidden.</td>
        <td><aui-docs-code lang="javascript">
            AJS.dialog2("#demo-dialog").on("hide", function() {
                console.log("demo-dialog was hidden");
            });
        </aui-docs-code>
        </td>
    </tr>
    <tr>
        <td><code>global show</code></td>
        <td>Triggered when any dialog is shown.</td>
        <td><aui-docs-code lang="javascript">
            AJS.dialog2.on("show", function() {
                console.log("a dialog was shown");
            });
        </aui-docs-code>
        </td>
    </tr>
    <tr>
        <td><code>global hide</code></td>
        <td>Triggered when any dialog is hidden.</td>
        <td><aui-docs-code lang="javascript">
            AJS.dialog2.on("hide", function() {
                console.log("a dialog was hidden");
            });
        </aui-docs-code>
        </td>
    </tr>
    </tbody>
</table>