---
component: Flag
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/messages/" class="aui-button aui-button-link" id="adg-button">Design guidelines</a>

<h3>Summary</h3>

<p>Flags are the primary method for providing system feedback in the product user interface. Messages include
    notifications of various kinds: alerts, confirmations, notices, warnings, info and errors.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-current">experimental</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-flag"><code>com.atlassian.auiplugin:aui-flag</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key" data-amd-key="aui/flag"><code>aui/flag</code></td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.7</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example flag-example">
    <button id="next-flag-show-button" class="aui-button">Show next flag</button>
</div>
<script>
    AJS.$(document).ready(function () {
// begin demo javascript

        var titles = ['Backup stale', 'Success!', 'Destructive operation!', 'Backing up attachments', 'Persistent info', 'Could not watch the page'];
        var types = ['info', 'success', 'error', 'warning', 'info', 'info'];
        var persistence = [false, false, false, false, true, false];
        var bodies = ['This JIRA instance was last backed up on Thursday, 18 September 2011.',
            'You have backed up your JIRA system to C:/backups/JIRA.90383.93483.xml.',
            '<p>Attachments will not be backed up. This needs to be done manually.</p>' +
                    '<ul class="aui-nav-actions-list">' +
                    '<li><a href="#">Why?</a></li>' +
                    '<li><a href="#">Find out how</a></li>' +
                    '</ul>',
            'Data import will wipe all existing JIRA content - make sure you backup first!',
            'You can not close me',
            '<p>I have actions</p>' +
                    '<ul class="aui-nav-actions-list">' +
                    '<li><a href="#">Action 1</a></li>' +
                    '<li><a href="#">Action 2</a></li>' +
                    '<li><a href="#">Action 3</a></li>' +
                    '</ul>'];

        require(['aui/flag'], function (flag) {
            function showMessage(messageNumber) {
                flag({
                    type: types[messageNumber],
                    title: titles[messageNumber],
                    persistent: persistence[messageNumber],
                    body: bodies[messageNumber]
                });
            }

            var messageNumber = 0;
            AJS.$("#next-flag-show-button").click(function () {
                if (messageNumber < 6) {
                    showMessage(messageNumber++);
                } else {
                    AJS.$("#next-flag-show-button").html('No more flags to show');
                }
            });
        });

// end demo javascript
    });
</script>
<h3>Code</h3>

<p>There are several flag types with different colours and icons. Flags can only be used through the Javascript
    API.</p><h4>Javascript</h4><h5>Creating a flag</h5>
<aui-docs-example>
    <aui-docs-example-js>
        require(['aui/flag'], function(flag) {
            var myFlag = flag({
            type: 'info',
            title: 'Issue ADG-745 has been created.',
            persistent: false,
            body:   '<ul class="aui-nav-actions-list">' +
                    '    <li><a href="#">View issue</a></li>' +
                    '    <li><a href="#">Add to sprint</a></li>' +
                    '</ul>'
            });
        });
    </aui-docs-example-js>
</aui-docs-example>
<p>Note: The aui-nav-actions-list ul should be used when adding actions at the bottom of a Flag</p><h5>Closing a
    flag</h5>

<p>You can close the flag by calling the <code>close()</code> method on the DOM element.</p>
<aui-docs-code lang="javascript">myFlag.close();</aui-docs-code>
<h4>Events</h4>

<p>When a flag is closed, the native event <code>aui-flag-close</code> is triggered on the flag DOM element. This
    event bubbles.</p>
<aui-docs-code lang="javascript">
    document.addEventListener('aui-flag-close', function() {
        alert('A flag has been closed');
    });
</aui-docs-code>
<h3>Options</h3>
<h4>JavaScript options</h4>

<p>These options are set in the options object when creating a flag with JavaScript:</p>
<table class="aui">
    <thead>
        <tr>
            <th>Option</th>
            <th>Description</th>
            <th>Possible values</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>type</code></td>
            <td>Sets the type of the message</td>
            <td>success, info, warning, error</td>
            <td>info</td>
        </tr>
        <tr>
            <td><code>body</code></td>
            <td>The main content of the message.</td>
            <td>HTML</td>
            <td>none</td>
        </tr>
        <tr>
            <td><code>close</code></td>
            <td>The closing behaviour that this flag has. Valid options are "manual", "auto" and "never".
                <ul>
                    <li>"auto" closing flags fade out over time, and have a close button.</li>
                    <li>"manual" closing flags do not fade out over time, and have a close button.</li>
                    <li>"never" closing flags do not fade out over time, and do not have a close button.</li>
                </ul>
            </td>
            <td>string</td>
            <td>"manual"</td>
        </tr>
        <tr>
            <td><code>title</code></td>
            <td>Sets the title text of the message.</td>
            <td>Plain text</td>
            <td>none</td>
        </tr>
    </tbody>
</table>