---
component: Form notifications
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/forms/" class="aui-button aui-button-link" id="adg-button">Design guidelines</a>

<h3>Summary</h3>

<p>Form validation is used to provide an interface for validating form fields, and displaying feedback on
    problems.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-current">experimental</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-form-notification"><code>com.atlassian.auiplugin:aui-form-notification</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key" data-amd-key="aui/form-notification"><code>aui/form-notification</code></td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.7</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <form class="aui">
        <div class="field-group">
            <label for="demo-info-message">Input with an info notification</label>
            <input id="demo-info-message" class="text" type="text"
                   data-aui-notification-field=""
                   data-aui-notification-info="Choose a username at least 6 characters long"><span
                class="aui-icon aui-icon-small aui-icon-notification" original-title=""></span>
        </div>
    </form>
    <form class="aui">
        <div class="field-group">
            <label for="demo-info-message">Input with multiple error notifications</label>
            <input id="demo-info-message" class="text" type="text"
                   data-aui-notification-field=""
                   data-aui-notification-error="[&quot;This field has a problem&quot;,&quot;In fact, it has two problems&quot;]"><span
                class="aui-icon aui-icon-small aui-icon-notification" original-title=""></span>
        </div>
    </form>
</div>
<script>
    AJS.$(document).ready(function () {
// begin demo javascript

        require(['aui/form-notification']);

// end demo javascript
    });
</script>
<h3>Code</h3><h4>Setup</h4>

<p>Ensure you require the Form Notification module in your javascript initialisation code:</p>
<aui-docs-code lang="javascript">
    require(['aui/form-notification']);
</aui-docs-code>
<h4>HTML</h4>

<p>Create a field with the attribute <code>data-aui-notification-field</code>.</p>

<h5>Info messages</h5>

<p>Information about a field can be communicated by adding the <code>data-aui-notification-info</code> data
    attribute. The value of this attribute should be the message you wish to place on the field</p>
<aui-docs-example>
    <aui-docs-example-html data-skate-ignore>
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message">Input with an info notification</label>
                <input id="demo-info-message" class="text" type="text" data-aui-notification-field data-aui-notification-info="Choose a username at least 6 characters long">
            </div>
        </form>
    </aui-docs-example-html>
    <aui-docs-example-js>
        require(['aui/form-notification']);
    </aui-docs-example-js>
</aui-docs-example>
<h5>Error messages</h5>

<p>In the same way, you may put error messages on the field with the <code>data-aui-notification-error</code> data
    attribute.</p>
<aui-docs-example>
    <aui-docs-example-html data-skate-ignore>
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message">Input
                    with an error notification</label>
                <input id="demo-info-message" class="text" type="text" data-aui-notification-field data-aui-notification-error="There is a problem with this field">
            </div>
        </form>
    </aui-docs-example-html>
    <aui-docs-example-js>
        require(['aui/form-notification']);
    </aui-docs-example-js>
</aui-docs-example>
<h5>Stacked messages</h5>

<p>You can stack multiple messages on a field at the same time. This can be done by making the array a JSON array
    string.</p>
<aui-docs-example>
    <aui-docs-example-html data-skate-ignore>
        <form class="aui">
            <div class="field-group">
                <label for="demo-info-message">Input with multiple error notifications</label>
                <input id="demo-info-message" class="text" type="text" data-aui-notification-field data-aui-notification-error='["This field has a problem","In fact, it has two problems"]'>
            </div>
        </form>
    </aui-docs-example-html>
    <aui-docs-example-js>
        require(['aui/form-notification']);
    </aui-docs-example-js>
</aui-docs-example>