---
component: Messages
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/messages/" class="aui-button aui-button-link" id="adg-button">Design guidelines</a>
<h3>Summary</h3>
<p>Messages are the primary method for providing system feedback in the product user interface. Messages include notifications of various kinds: alerts, confirmations, notices, warnings, info and errors.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-messages"><code>com.atlassian.auiplugin:aui-messages</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>3.0</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example messages-example">
    <h3>Inserted with HTML</h3>
    <div class="aui-message">
        <p class="title">
            <strong>Backup stale</strong>
        </p>
        <p>This instance was last backed up on Thursday, 18 September 2011.</p>
    </div>
    <!-- .aui-message -->

    <div class="aui-message aui-message-warning">
        <p class="title">
            <strong>Backing up attachments</strong>
        </p>
        <p>Attachments will not be backed up. This needs to be done manually.</p>
    </div>
    <!-- .aui-message -->

    <div class="aui-message aui-message-error">
        <p class="title">
            <strong>Destructive operation!</strong>
        </p>
        <p>Data import will wipe all existing content - make sure you backup first!</p>
    </div>
    <!-- .aui-message -->

    <div class="aui-message aui-message-success">
        <p class="title">
            <strong>Success!</strong>
        </p>
        <p>You have backed up your system to C:/backups/filename.xml.</p>
    </div>
    <!-- .aui-message -->

    <div class="aui-message aui-message-hint">
        <p class="title">
            <strong>Backup stale</strong>
        </p>
        <p>This instance was last backed up on Thursday, 18 September 2011.</p>
    </div>
    <h3>Inserted with JS</h3>
    <div id="aui-message-bar">
        <div class="aui-message aui-message-success success closeable shadowed">
            <p class="title"><strong>Success!</strong>
            </p>You have backed up your system!
            <!-- .aui-message --><span class="aui-icon icon-close" role="button" tabindex="0"></span>
        </div>
    </div>
    <div id="custom-context">
        <div class="aui-message aui-message-generic generic closeable shadowed">
            <p class="title"><strong>Custom Context Demo</strong>
            </p>
            <p>Because you often need to specify where the message goes.</p>
            <!-- .aui-message --><span class="aui-icon icon-close" role="button" tabindex="0"></span>
        </div>
    </div>
</div>
<script>
    AJS.$(document).ready(function() {
        // begin demo javascript

        AJS.messages.success({
            title: "Success!",
            body: "You have backed up your system!"
        });

        AJS.messages.generic("#custom-context", {
            title: "Custom Context Demo",
            body: '<p>Because you often need to specify where the message goes.</p>'
        });

        // end demo javascript
    });
</script>
<h3>Code</h3>
<p>There are several message types with different colours and icons. There are two ways to implement messages: using HTML (or Soy to generate the HTML) or using Javascript.</p>
<h4>HTML</h4>

<aui-docs-example lang="html">
    <div class="aui-message aui-message-error">
        <p class="title">
            <strong>Error!</strong>
        </p>
        <p>And this is just content in a Default message.</p>
    </div>
</aui-docs-example>

<h4>HTML - deprecated markup</h4>

<aui-docs-example lang="html">
    <div class="aui-message error">
        <p class="title">
            <span class="aui-icon icon-error"></span>
            <strong>Error!</strong>
        </p>
        <p>And this is just content in a Default message.</p>
    </div>
</aui-docs-example>

<h4>Javascript</h4>
<p>Note you should use the JS API if adding Messages with JavaScript, not the compiled-Javascript-Soy API. Although the two seems similar, the JS API is the supported option.</p>
<p>Default context:</p>

<aui-docs-example lang="js">
    AJS.messages.generic({
       title: 'This is a title in a default message.',
       body: '<p> And this is just content in a Default message.</p>'
    });
</aui-docs-example>

<p>Note if you do not set the context, the element:</p>

<aui-docs-code>
    <div id="aui-message-bar"></div>
</aui-docs-code>

<p>...<strong>must</strong> exist in your document, otherwise the message will not appear as it has no target location.</p>
<p>It is more common to set the context:</p>

<aui-docs-example lang="js">
    AJS.messages.generic("#context", {
       title: 'This is a title in a default message.',
       body: '<p> And this is just content in a Default message.</p>'
    });
</aui-docs-example>

<h4>Methods</h4>
<table class="aui" id="message-methods">
    <thead>
        <tr>
            <th>Method</th>
            <th class="description">Description</th>
            <th>Example Usage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>makeCloseable</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current">Deprecated</span> Adds the closeable class and cross icon to a message. This method is deprecated, use the supported constructor option 'closeable' instead.</td>
            <td>
                <aui-docs-code lang="js">
                    AJS.messages.makeCloseable('#demo-message');
                </aui-docs-code>
            </td>
        </tr>
    </tbody>
</table>
<h4>Soy</h4>

<aui-docs-code>
    {call aui.message.warning}
        {param title: 'An error occurred - user intervention required!' /}
        {param closeable: 'true' /}
        {param id: 'messageIDattribute' /}
        {param content}
            <p>Some details about the error so the user knows what to do.</p>
        {/param}
    {/call}
</aui-docs-code>

<h3>Options</h3>
<p>When adding an HTML message, you must ensure root element (.aui-message) has the desired message class. Calling from Soy or JavaScript wraps this into one call, for convenience.</p>
<p>Note: icon class have been deprecated. The old message classes are also deprecated, now namespaced with aui-message-</p>
<table class="aui">
    <thead>
        <tr>
            <th>Message type</th>
            <th>Message class</th>
            <th>Soy call</th>
            <th>Javascript function</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Generic</td>
            <td><code>aui-message-generic</code>
            </td>
            <td><code>call aui.message.generic</code>
            </td>
            <td><code>AJS.messages.generic()</code>
            </td>
        </tr>
        <tr>
            <td>Error</td>
            <td><code>aui-message-error</code>
            </td>
            <td><code>call aui.message.error</code>
            </td>
            <td><code>AJS.messages.error()</code>
            </td>
        </tr>
        <tr>
            <td>Warning</td>
            <td><code>aui-message-warning</code>
            </td>
            <td><code>call aui.message.warning</code>
            </td>
            <td><code>AJS.messages.warning()</code>
            </td>
        </tr>
        <tr>
            <td>Success</td>
            <td><code>aui-message-success</code>
            </td>
            <td><code>call aui.message.success</code>
            </td>
            <td><code>AJS.messages.success()</code>
            </td>
        </tr>
        <tr>
            <td>Info</td>
            <td><code>aui-message-info</code>
            </td>
            <td><code>call aui.message.info</code>
            </td>
            <td><code>AJS.messages.info()</code>
            </td>
        </tr>
        <tr>
            <td>Hint</td>
            <td><code>aui-message-hint</code>
            </td>
            <td><code>call aui.message.hint</code>
            </td>
            <td><code>AJS.messages.hint()</code>
            </td>
        </tr>
    </tbody>
</table>
<h4>HTML options</h4>
<p>These options are set by adding classes to the root <code>aui-message</code> div.</p>
<table class="aui">
    <thead>
        <tr>
            <th>Class</th>
            <th>Effect</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>closeable</code>
            </td>
            <td>Adds a Close icon to the message which closes and removes the message when clicked.</td>
            <td>
                <aui-docs-code>
                    <div class="aui-message closeable">...</div>
                </aui-docs-code>
            </td>
        </tr>
        <tr>
            <td><code>fadeout</code>
            </td>
            <td>Since 5.1. Makes the message fade away after five seconds. The fadeout will be cancelled if the user interacts with it (hover or focus). Note the fadeout option is best used via JavaScript and should not be used on critical errors and other
                information the user must be aware of.</td>
            <td>
                <aui-docs-code>
                    <div class="aui-message fadeout">...</div>
                </aui-docs-code>
            </td>
        </tr>
    </tbody>
</table>
<h4>Soy options</h4>
<p>These options are set by adding params to the Soy call.</p>
<table class="aui">
    <thead>
        <tr>
            <th>Param</th>
            <th>Effect</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>content</td>
            <td>Required. Content to display within the message.</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>titleContent</td>
            <td>Title text of the message.</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>id</td>
            <td>ID attribute</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>isCloseable</td>
            <td>Boolean. Set to true, makes the Message closeable.</td>
            <td>false</td>
        </tr>
    </tbody>
</table>
<h4>JavaScript options</h4>
<p>These options are set in the options object when creating a Message with JavaScript:</p>
<table class="aui">
    <thead>
        <tr>
            <th>Option</th>
            <th>Description</th>
            <th>Possible values</th>
            <th>Default</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>(context argument)</td>
            <td>You can override the default context by passing it into the first argument of the messages function. This is the only option set as an argument.</td>
            <td>A string in the form of an ID selector</td>
            <td>#aui-message-bar</td>
        </tr>
        <tr>
            <td><code>body</code>
            </td>
            <td>The main content of the message.</td>
            <td>HTML</td>
            <td>none</td>
        </tr>
        <tr>
            <td><code>closeable</code>
            </td>
            <td>Adds a control allowing the user to close the message, removing it from the page.</td>
            <td>boolean</td>
            <td>true</td>
        </tr>
        <tr>
            <td><code>id</code>
            </td>
            <td>Gives your message an ID attribute, useful for selecting the message later.</td>
            <td>ID string (no hash)</td>
            <td>none</td>
        </tr>
        <tr>
            <td><code>insert</code>
            </td>
            <td>Sets the insert point to the start (prepent) or end (append) of the context element. (Option added in AUI 4.2)</td>
            <td>prepend, append</td>
            <td>append</td>
        </tr>
        <tr>
            <td><code>shadowed</code>
            </td>
            <td>Toggles the dropshadow on the message box. Usually not changed from default.</td>
            <td>boolean</td>
            <td>true</td>
        </tr>
        <tr>
            <td><code>title</code>
            </td>
            <td>Sets the title text of the message.</td>
            <td>Plain text</td>
            <td>none</td>
        </tr>
        <tr>
            <td><code>fadeout</code>
            </td>
            <td>(since 5.1) Toggles the fade away on the message</td>
            <td>boolean</td>
            <td>false</td>
        </tr>
        <tr>
            <td><code>delay</code>
            </td>
            <td>(since 5.1) Time to wait (in ms) before starting fadeout animation (ignored if fadeout==false)</td>
            <td>number</td>
            <td>5000</td>
        </tr>
        <tr>
            <td><code>duration</code>
            </td>
            <td>(since 5.1) Fadeout animation duration in milliseconds (ignored if fadeout==false)</td>
            <td>number</td>
            <td>500</td>
        </tr>
    </tbody>
</table>
<h4>AJS.messages events</h4>
<table class="aui">
    <thead>
        <tr>
            <th>Event</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>messageClose</td>
            <td><span class="aui-lozenge aui-lozenge-current">Deprecated</span> <code>messageClose</code>. When a message is closed, messageClose is fired before the message is removed from the DOM, including a reference to the DOM element being removed.</td>
        </tr>
        <tr>
            <td>aui-message-close</td>
            <td><code>messageClose</code>. When a message is closed, aui-message-close is fired AFTER the element is removed, a reference to the message being removed is included in the event data.</td>
        </tr>
    </tbody>
</table>

<aui-docs-code lang="js">
    document.addEventListener('aui-message-close', function (e) {
        AJS.log('Message id: ' + e.target.attr('id'));
    });
</aui-docs-code>
