---
component: Page content layout
layout: main-layout.html
---
<a href="https://design.atlassian.com/latest/product/foundations/layout/" class="aui-button aui-button-link" id="adg-button">Design guidelines</a>
<h3>Summary</h3>
<p>Content Layout system for the content area within the Page component. It divides up the content area into combinations like navigation+content, content+sidebar, etc. <strong>Note this component can only be used once per document</strong>, within the
    #content element; and it cannot be nested. If you need generic layouts further down the DOM, use group+item.</p>
<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-page-layout"><code>com.atlassian.auiplugin:aui-page-layout</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Code</h3>
<h4>HTML</h4>
<p>The core layout requires the page panel, a page panel inner and at least one panel - usually a content panel. The extra elements are used across layout variations so do not omit them.</p>
<p>For a simple content area with no divisions:</p>

<aui-docs-code>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <h2>Page content heading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </section>
        </div>
    </div>
</aui-docs-code>

<p>Navigation (<code>aui-page-panel-nav</code>), sidebar (<code>aui-page-panel-sidebar</code>) and generic items (<code>aui-page-panel-item</code>) can be added as siblings of content (<code>aui-page-panel-content</code>). By default the items are rendered
    as columns.</p>
<p>A three-column layout:</p>

<aui-docs-code>
    <section id="content" role="main">
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <div class="aui-page-panel-nav">
                    <!-- content such as a vertical nav -->
                </div>
                <section class="aui-page-panel-content">
                    <!-- main area for content -->
                </section>
                <aside class="aui-page-panel-sidebar">
                    <!-- tangental content here -->
                </aside>
            </div>
        </div>
    </section>
</aui-docs-code>

<p>The generic item is relatively unstyled - it allows custom extensions to content layouts where required:</p>

<aui-docs-code>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-item someclass">
                <!-- content -->
            </section>
            <section class="aui-page-panel-item someotherclass">
                <!-- content -->
            </section>
        </div>
    </div>
</aui-docs-code>

<h4>Soy</h4>
<p>Called with JavaScript:</p>

<aui-docs-code lang="js">
    atlassian.page.pagePanel({
        tagName: 'section',
        content:
            atlassian.page.pagePanelNav({
                tagName: 'section',
                content: '...'
            }) +
            atlassian.page.pagePanelContent({
                tagName: 'aside',
                content: '...'
            }) +
            atlassian.page.pagePanelSidebar({
                tagName: 'nav',
                content: '...'
            })
    });
</aui-docs-code>

<p>Server-side Soy:</p>

<aui-docs-code lang="soy">
    {call aui.page.pagePanel}
        {param content}
            {call aui.page.pagePanelNav}
                {param content}
                    <p>content</p>
                {/param}
            {/call}
            {call aui.page.pagePanelContent}
                {param content}
                    <p>content</p>
                {/param}
            {/call}
            {call aui.page.pagePanelSidebar}
                {param content}
                    <p>content</p>
                {/param}
            {/call}
        {/param}
    {/call}
</aui-docs-code>
