---
component: Progress tracker
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/patterns/progress-tracker/" class="aui-button aui-button-link" id="adg-button">Design guidelines</a>

<h3>Summary</h3>

<p>A progress tracker guides users through a number of steps across multiple screens in order to complete a task
    flow. It shows users where they are in the process, and also offers navigation within the process.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-progress-tracker">
                <code>com.atlassian.auiplugin:aui-progress-tracker</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.8</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <p>Default:</p>
    <ol class="aui-progress-tracker">
        <li class="aui-progress-tracker-step" style="width:25%"><span>Configure instance</span></li>
        <li class="aui-progress-tracker-step  aui-progress-tracker-step-current" style="width:25%"><span>Select plugins</span>
        </li>
        <li class="aui-progress-tracker-step" style="width:25%"><span>Invite users</span></li>
        <li class="aui-progress-tracker-step" style="width:25%"><span>Confirm</span></li>
    </ol>

    <p>Inverted:</p>

    <div class="inverted-progress-tracker-example">

        <ol class="aui-progress-tracker aui-progress-tracker-inverted">
            <li class="aui-progress-tracker-step" style="width:25%"><span>Configure instance</span></li>
            <li class="aui-progress-tracker-step" style="width:25%"><span>Select plugins</span></li>
            <li class="aui-progress-tracker-step aui-progress-tracker-step-current" style="width:25%"><span>Invite users</span>
            </li>
            <li class="aui-progress-tracker-step" style="width:25%"><span>Confirm</span></li>
        </ol>

    </div>

    <style>
        .inverted-progress-tracker-example {
            background: #f5f5f5;
            padding: 10px 0;
        }
    </style>
</div>
<h3>Code</h3>
<h4>Soy</h4>
<aui-docs-code lang="soy">
    {call aui.progressTracker.progressTracker}
    {param steps: [
        [
            'text': 'Step 1',
            'href': '#step1'
        ],
        [
            'text': 'Step 2',
            'href': '#step2',
            'isCurrent': true
        ],
        [
            'text': 'Step 3',
            'href': '#step3'
        ],
        [
            'text': 'Step 4',
            'href': '#step4'
        ],
        [
            'text': 'Step 5',
            'href': '#step5'
        ]
        ] /}
    {/call}
</aui-docs-code>
<h3>Options</h3>

<p>Soy is available</p>
<aui-docs-code lang="soy">
    /**
    * Progress Tracker
    * @param steps list of the steps to display
    * @param? isInverted boolean - set to true if using on a grey background
    * @param? id
    * @param? extraClasses
    * @param? extraAttributes
    */

    /**
    * Step in the Progress Tracker
    * @param? isCurrent boolean - set to true if step is the current step
    * @param width number - should be the exact same width as all the other steps to maintain correct visual formatting (can't do this in CSS due to CSS not knowing the number of steps)
    * @param text
    * @param? href
    * @param? id
    * @param? extraClasses
    * @param? extraAttributes
    **/
</aui-docs-code>