---
component: Sidebar
layout: main-layout.html
---

<h3>Summary</h3>
<p>Sidebar component that contains page actions and navigation. Can be collapsed manually by the user by clicking, or automatically based on browser window resize</p>
<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-sidebar"><code>com.atlassian.auiplugin:aui-sidebar</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.6.3</td>
        </tr>
        <tr>
            <th>Depends on:</th>
            <td>jQuery</td>
        </tr>
    </tbody>
</table>

<h3>Code</h3>
<h4>Basic Usage (HTML)</h4>
<p>AUI Sidebar is meant to sit within the main <code>#content</code> section of the AUI Page Layout, before the <code>aui-page-panel</code>. See comments in example below for required markup patterns and CSS classes.</p>

<aui-docs-example>
    <textarea aui-docs-example-html>
        <section id="content" role="main">
            <!-- AUI Sidebar -->
            <div class="aui-sidebar">
                <div class="aui-sidebar-wrapper">
                    <div class="aui-sidebar-body">

                        <!-- AUI Page Header -->
                        <header class="aui-page-header">
                            <div class="aui-page-header-inner">
                                <div class="aui-page-header-image">

                                    <!-- AUI Avatar -->
                                    <span class="aui-avatar aui-avatar-large aui-avatar-project">
                                        <span class="aui-avatar-inner"><img src="images/avatar-48.png" alt="Project avatar"></span>
                                    </span>
                                </div>
                                <div class="aui-page-header-main">
                                    <h1>
                                        AUI Sidebar
                                    </h1>
                                    <ol class="aui-nav aui-nav-breadcrumbs">
                                        <li>
                                            <a href="#"><span class="aui-nav-item-label">This is a really really long title for whatever this is</span></a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </header>

                        <!-- AUI Navigation -->
                        <nav class="aui-navgroup aui-navgroup-vertical">
                            <div class="aui-navgroup-inner">

                                <!-- A Sidebar group will collapse into a single trigger icon when sidebar is collapsed -->
                                <!-- The 'actions' sidebar group type will be styled differently from normal groups when sidebar is collapsed -->
                                <div class="aui-sidebar-group aui-sidebar-group-actions">

                                    <!-- the AUI Nav heading will be used as the tooltip text -->
                                    <div class="aui-nav-heading" title="Actions">
                                        <strong>Actions</strong>
                                    </div>

                                    <!-- If a sidebar group does not have a nav heading, then the aui-nav's title attribute will be used
                                         for the tooltip for the group -->
                                    <ul class="aui-nav" title="Page actions">
                                        <li>
                                            <a class="aui-nav-item" href="#" title="Edit">Edit</a>
                                        </li>
                                        <li>
                                            <a class="aui-nav-item" href="#" title="View">View</a>
                                        </li>
                                        <li>
                                            <a class="aui-nav-item" href="#" title="Share">Share</a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- A "Tier One" Sidebar group will display all of its nav items, but all nav items MUST have an AUI Icon
                                     which will be used when the sidebar is collapsed -->
                                <div class="aui-sidebar-group aui-sidebar-group-tier-one">

                                    <!-- in a "Tier One" Sidebar group, AUI Nav heading is ignored, and each nav item's label will be used
                                         as the tooltip text instead -->
                                    <div class="aui-nav-heading" title="Stuff">
                                        <strong>Simple Nav</strong>
                                    </div>

                                    <ul class="aui-nav">
                                        <li class="aui-nav-selected">
                                            <a class="aui-nav-item" href="#">

                                                <!-- "Tier One" navigation items MUST have an AUI Icon before the text label -->
                                                <span class="aui-icon aui-icon-small aui-iconfont-info"></span>


                                                <!-- "Tier One" Nav items labels also need an extra SPAN around them with the aui-nav-item-label class -->
                                                <span class="aui-nav-item-label">Summary</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="aui-nav-item" href="#" title="This is a really really long title for whatever this is">
                                                <span class="aui-icon aui-icon-small aui-iconfont-details"></span>
                                                <span class="aui-nav-item-label">Issues</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="aui-nav-item" href="#">
                                                <span class="aui-icon aui-icon-small aui-iconfont-jira-completed-task"></span>
                                                <span class="aui-nav-item-label">Road Map</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="aui-nav-item" href="#">
                                                <span class="aui-icon aui-icon-small aui-iconfont-time"></span>
                                                <span class="aui-nav-item-label">Versions</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="aui-nav-item" href="#">
                                                <span class="aui-icon aui-icon-small aui-iconfont-devtools-submodule"></span>
                                                <span class="aui-nav-item-label">Components</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="aui-nav-item" href="#">
                                                <span class="aui-icon aui-icon-small aui-iconfont-devtools-tag"></span>
                                                <span class="aui-nav-item-label">Labels</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>

                    <!-- Sidebar footer contains the expand/collapse trigger, and optionally a button or a dropdown with configuration settings -->
                    <div class="aui-sidebar-footer">
                        <a href="http://example.com" class="aui-button aui-button-subtle aui-sidebar-settings-button" title="Settings">
                            <span class="aui-icon aui-icon-small aui-iconfont-configure"></span>
                            <span class="aui-button-label">Settings</span>
                        </a>
                        <a class="aui-button aui-button-subtle aui-sidebar-toggle aui-sidebar-footer-tipsy" title="Collapse sidebar ( [ )">
                            <span class="aui-icon aui-icon-small"></span>
                        </a>
                    </div>
                </div>
            </div><!-- end AUI Sidebar -->

            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">
                        <!-- Page content goes here -->
                    </section>
                </div>
            </div>
        </section>
    </textarea>
</aui-docs-example>

<h4>Sidebar Navigation variations (HTML)</h4>

<p>Various AUI Navigation options can be used within AUI Sidebar, and they will be styled correctly, however the ordering of the <code>&lt;span&gt;</code> elements within the <code>&lt;a&gt;</code> is important</p>

<h5>Badges</h5>

<p>The badge will show a number next to "Issues".</p>

<textarea aui-docs-code>
    <ul class="aui-nav">
        <li>
            <a class="aui-nav-item" href="#" title="This is a really really long title for whatever this is">
                <span class="aui-badge">999</span>
                <span class="aui-icon aui-icon-small aui-iconfont-details"></span>
                <span class="aui-nav-item-label">Issues</span>
            </a>
        </li>
    </ul>
</textarea >

<h5>Nav item actions</h5>

<p>The <code>aui-nav-item-actions</code> widget will be positioned on the right, but you will need to add your own dropdown functionality.</p>

<textarea aui-docs-code>
    <ul class="aui-nav">
        <li>
            <a class="aui-nav-item" href="#">
                <span class="aui-nav-item-actions">More actions</span>
                <span class="aui-icon aui-icon-small aui-iconfont-info"></span>
                <span class="aui-nav-item-label">Summary</span>
            </a>
        </li>
    </ul>
</textarea>

<h5>Nested navigation</h5>

<p>Nested AUI Navigation is supported. The trigger elements need to have the <code>nested-parent</code> class If a expand / collapsed twixy is needed, use the <code>aria-expanded</code> Boolean attribute to change the twixy orientation.</p>

<textarea aui-docs-code>
    <ul class="aui-nav">
        <li>
            <a class="aui-nav-item" href="#" class="nested-parent nested-open">
                <span class="aui-nav-item-label">Issues</span>
            </a>
            <ul class="aui-nav" title="one">
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li aria-expanded="true">
                    <a href="#" class="aui-nav-subtree-toggle">
                        <span class="aui-icon aui-icon-small aui-iconfont-expanded"></span>
                    </a>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                    <ul class="aui-nav" title="two">
                        <li>
                            <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                        </li>
                        <li>
                            <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                        </li>
                    </ul>
                    <div class="aui-nav-heading">
                        <strong>Queues</strong>
                    </div>
                    <ul class="aui-nav" title="three">
                        <li>
                            <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                        </li>
                        <li>
                            <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
            </ul>
        </li>
    </ul>
</textarea>

<h5>The Kitchen Sink</h5>

<p>AUI Badges can be used to display a count of items, and will be positioned on the right The element order of various nav item options is important otherwise the styles will not be applied correctly.</p>

<textarea aui-docs-code>
    <ul class="aui-nav">
        <li>
            <a class="aui-nav-item" href="#" title="This is a really really long title for whatever this is">
                <span class="aui-nav-item-actions">More actions</span>
                <span class="aui-badge">999</span>
                <span class="aui-icon aui-icon-small aui-iconfont-details"></span>
                <span class="aui-nav-item-label">Issues</span>
            </a>
        </li>
        <li aria-expanded="true">
            <a href="#" class="aui-nav-subtree-toggle">
                <span class="aui-icon aui-icon-small aui-iconfont-expanded"></span>
            </a>
            <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
            <ul class="aui-nav" title="one">
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li aria-expanded="false">
                    <a href="#" class="aui-nav-subtree-toggle">
                        <span class="aui-icon aui-icon-small aui-iconfont-collapsed"></span>
                    </a>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                    <ul class="aui-nav" title="two">
                        <li>
                            <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                        </li>
                        <li>
                            <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
                <li>
                    <a class="aui-nav-item" href="#"><span class="aui-nav-item-label">Issues</span></a>
                </li>
            </ul>
        </li>
    </ul>
</textarea>

<h4>Soy Template Usage</h4>

<aui-docs-code lang="soy">
    {call aui.sidebar.sidebar}
        {param headerContent}
            {call aui.page.pageHeader}
                {param content}
                    {call aui.page.pageHeaderImage}
                        {param content}
                            {call aui.avatar.avatar}
                                {param size: 'large' /}
                                {param isProject: true /}
                                {param avatarImageUrl: 'images/avatar-48.png' /}
                                {param accessibilityText: 'Atlassian logo' /}
                            {/call}
                        {/param}
                    {/call}
                    {call aui.page.pageHeaderMain}
                        {param content}
                            <h1>Sidebar Page Layout</h1>
                            <ol class="aui-nav aui-nav-breadcrumbs">
                                <li>
                                    <a href="home.html">
                                        <span class="aui-nav-item-label">Breadcrumbs or subtitle</span>
                                    </a>
                                </li>
                            </ol>
                        {/param}
                    {/call}
                {/param}
            {/call}
        {/param}
        {param content}
            <!-- AUI Navigation goes here -->
        {/param}
        {param settingsButtonUrl: 'http://example.com' /}
        {param settingsText: 'Settings' /}
    {/call}
</aui-docs-code>

<h4>Large Avatar (eg Project or Space landing page)</h4>

<aui-docs-code lang="soy">
    {call aui.sidebar.sidebar}
        {param headerContent}
            {call aui.page.pageHeader}
                {param extraClasses: 'aui-sidebar-header-large' /} // add this extra class to the AUI Page Header
                {param content}
                    {call aui.page.pageHeaderImage}
                        {param content}
                            {call aui.avatar.avatar}
                                {param size: 'xxxlarge' /}  // Set the avatar size to 'xxxlarge'
                                {param isProject: true /}
                                {param avatarImageUrl: 'images/avatar-48.png' /}
                                {param accessibilityText: 'Atlassian logo' /}
                            {/call}
                        {/param}
                    {/call}
                    {call aui.page.pageHeaderMain}
                        {param content}
                            <h1>Sidebar Page Layout</h1>
                            <ol class="aui-nav aui-nav-breadcrumbs">
                                <li>
                                    <a href="home.html">
                                        <span class="aui-nav-item-label">Breadcrumbs or subtitle</span>
                                    </a>
                                </li>
                            </ol>
                        {/param}
                    {/call}
                {/param}
            {/call}
        {/param}
        {param content}
            <!-- AUI Navigation goes here -->
        {/param}
        {param settingsButtonUrl: 'http://example.com' /}
        {param settingsText: 'Settings' /}
    {/call}
</aui-docs-code>

<h4>JavaScript</h4>

<aui-docs-code lang="js">
    var sidebar = AJS.sidebar('.aui-sidebar');

    // Try to expand the sidebar.
    if (sidebar.isCollapsed()) {
        sidebar.expand();
    }

    // Listen to collapse events.
    sidebar.on('collapse-start', function () {
        console.log('Sidebar is collapsing!');
    });

    sidebar.on('collapse-end', function () {
        console.log('Sidebar is now collapsed!');
    });

    // Event delegation for custom interactions.
    sidebar.$el.on('click', '.clone', function (e) {
        if (sidebar.isCollapsed()) {
            e.preventDefault();
            cloneDialog.show();
        }
    });
</aui-docs-code>



<h5>Initialization</h5>

<p>The sidebar element (.aui-sidebar) is automatically initialized on DOM ready, i.e., it requires no additional JavaScript code.</p>
<p>At DOM ready, if the sidebar is rendered (in markup) as expanded but the browser is too narrow, it is automatically collapsed (without animations). This will likely run prior to any other JavaScript code having had a chance to bind to the sidebar's collapse
    or expand events, so if you are interested in the initial state of the sidebar you may want to add a DOM ready handler that inspects isCollapsed().</p>
<p>The sidebar can be collapsed or expanded on initial page load by adding aui-page-sidebar and aui-sidebar-collapsed or aui-sidebar-expanded classes to the tag. The 'sidebar' layout type in the AUI Page Layout Soy template does this for you. This is to
    prevent a flash of the sidebar in an unexpected state, before the JavaScript executes and sets the state based on available screen width and/or user preference if it is stored by the host product.</p>



<h3>Options</h3>

<h4>HTML attributes</h4>

<p>There are a few configuration options that are expressed through markup on the main <code>aui-sidebar</code> container element</p>

<table class="aui">
    <thead>
        <tr>
            <th>Class</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>aui-is-animated</code>
            </td>
            <td>
                <p>Enables CSS transitions for the toggling of expanded/collapsed state.</p>
                <p>Note that this has browser performance implications as it animates the main content area (and causes reflow/relayout) as well as the sidebar itself. YMMV.</p>
            </td>
        </tr>
    </tbody>
</table>

<table class="aui">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Values</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>aria-expanded</code>
            </td>
            <td><code>false | true</code>
            </td>
            <td>Specifies if the sidebar is collapsed (false) or expanded (true) by default, overriding the auto-expand/collapse behaviour</td>
        </tr>
        <tr>
            <td><code>data-aui-responsive</code>
            </td>
            <td><code>false</code>
            </td>
            <td>Specifies whether the sidebar should automatically collapse/expand based on browser width</td>
        </tr>
    </tbody>
</table>



<h4>Sidebar Groups</h4>

<p>AUI sidebar uses a div with the <code>aui-sidebar-group</code> class inside of the aui-navgroup/aui-navgroup-inner to group related sidebar nav items together. When the sidebar is in a collapsed state, each <code>aui-sidebar-group</code> will be represented
    by a single icon and the group's contents will be displayed in a fly-out menu.</p>
<p>There are two special sidebar groups – "Actions" and "Tier One".</p>
<p>The "Actions" sidebar group is typically used for action items that are contextual to the screen or section that the user is on. The Actions group will get a different different (ellipsis) icon and mouse hover/focus effect when the sidebar is collapsed,
    and should be the <strong>very first sidebar group</strong> in the sidebar, directly below the sidebar header and above normal navigation items. There should only be <strong>ONE</strong> <code>aui-sidebar-group-actions</code> group.</p>
<p>Tier One sidebar groups will display all navigation items within the group even when the sidebar is collapsed (normal sidebar groups will collapse into a single icon). While icons are optional for regular navigation items, Tier One navigation items <strong>must</strong>    have an icon, otherwise there will be empty gaps in the sidebar where the icon should be.</p>

<table class="aui">
    <thead>
        <tr>
            <th>Class</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>aui-sidebar-group-tier-one</code>
            </td>
            <td>Specifies that the sidebar group is a "Tier One" group</td>
        </tr>
        <tr>
            <td><code>aui-sidebar-group-actions</code>
            </td>
            <td>Specifies that the sidebar group is the "Actions" group</td>
        </tr>
    </tbody>
</table>



<h4>Dividers</h4>

<p><em>New in AUI 5.7.1</em></p>
<p>To insert a horizontal divider between AUI Navigation <code>ul</code>s or <code>aui-sidebar-group</code>s, just use the <code>&lt;hr&gt;</code> element and it will be styled appropriately.</p>



<h4>Soy params</h4>

<p>There is a <code>aui.sidebar.sidebar</code> template that you can call with the following parameters which will render the correct HTML markup</p>

<table class="aui">
    <thead>
        <tr>
            <th>Param</th>
            <th>Required</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>content</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle">Required</span>
            </td>
            <td>
                <p>Main sidebar HTML content. Typically in the form of an AUI Vertical navigation.</p>
            </td>
        </tr>
        <tr>
            <td><code>headerContent</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle">Required</span>
            </td>
            <td>
                <p>Sidebar header HTML content. Typically in the form of an AUI Page Header.</p>
            </td>
        </tr>
        <tr>
            <td><code>footerContent</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle">Required</span>
            </td>
            <td>
                <p>Sidebar footer HTML content. Typically an AUI Button or Dropdown2. This will override the default settings button (see <code>settingsButtonUrl</code> and <code>settingsText</code> below).</p>
            </td>
        </tr>
        <tr>
            <td><code>settingsButtonUrl</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>Link to direct the standard sidebar settings button. Must be used together with <code>$settingsText</code> for button to appear in sidebar footer.</p>
            </td>
        </tr>
        <tr>
            <td><code>settingsText</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>Text to use for the standard sidebar settings buttton. Must be used together with <code>$settingsUrl</code> for button to appear in sidebar footer.</p>
            </td>
        </tr>
        <tr>
            <td><code>settingsTooltip</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>Tooltip to display with the sidebar settings button, defaults to <code>$settingsText</code> if not set.</p>
            </td>
        </tr>
        <tr>
            <td><code>id</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>ID for the sidebar container.</p>
            </td>
        </tr>
        <tr>
            <td><code>state</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>String. 'collapsed', 'expanded' or left undefined. Used by AUI Sidebar to render the sidebar's initial state.</p>
            </td>
        </tr>
        <tr>
            <td><code>tagName</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>HTML element for the sidebar container. Default is 'div'.</p>
            </td>
        </tr>
        <tr>
            <td><code>isResponsive</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>Boolean. Whether the sidebar should automatically collapse/expand based on browser width. Default is true.</p>
            </td>
        </tr>
        <tr>
            <td><code>isResizable</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>Boolean. Enables a draggable handle to allow the user to resize the sidebar. Default is false.</p>
            </td>
        </tr>
        <tr>
            <td><code>isAnimated</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>Boolean. Enables animated transitions for Sidebar expanding and collapsing. Default is false.</p>
            </td>
        </tr>
        <tr>
            <td><code>extraClasses</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>String or Object. CSS classes to add to the outermost (.aui-sidebar) element.</p>
            </td>
        </tr>
        <tr>
            <td><code>extraAttributes</code>
            </td>
            <td><span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">Optional</span>
            </td>
            <td>
                <p>String or Object. Additional attributes to add to the outermost (.aui-sidebar) element.</p>
            </td>
        </tr>
    </tbody>
</table>



<h4>Javascript API</h4>

<p>You can retrieve an instance of the sidebar via AJS.sidebar(selector) were selector is a jQuery selector string, jQuery collection, or an element.</p>

<aui-docs-code lang="js">
    var sidebar = AJS.sidebar('.aui-sidebar');
</aui-docs-code>



<h4>Methods</h4>

<table class="aui">
    <thead>
        <tr>
            <th>Method</th>
            <th>Description</th>
            <th>Example Usage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>expand()</code>
            </td>
            <td>
                <p>Expands the sidebar. If the browser window is less than 1280px wide (see <code>isViewportNarrow()</code>), the expanded sidebar will be the 'fly-out' style that floats over your page content, rather than pushing it over to the right.</p>
                <p></p>Fires event listeners bound to the <code>expand</code> event.
                <p></p>
            </td>
            <td>
                <aui-docs-code lang="js">
                    AJS.sidebar.expand();
                </aui-docs-code>
            </td>
        </tr>
        <tr>
            <td><code>collapse()</code>
            </td>
            <td>
                <p>Collapses the sidebar.</p>
                <p></p>Fires event listeners bound to the <code>collapse</code> event.
                <p></p>
            </td>
            <td>
                <aui-docs-code lang="js">
                    AJS.sidebar.collapse();
                </aui-docs-code>
            </td>
        </tr>
        <tr>
            <td><code>toggle()</code>
            </td>
            <td>
                <p>Expands the sidebar if it is currently collapsed; collapses it if it is currently expanded.</p>
                <p></p>Fires the relevant <code>expand</code>/<code>collapse</code> event listeners.
                <p></p>
            </td>
            <td>
                <aui-docs-code lang="js">
                    AJS.sidebar.toggle();
                </aui-docs-code>
            </td>
        </tr>
        <tr>
            <td><code>isCollapsed()</code>
            </td>
            <td>
                <p>Returns a boolean indicating whether the sidebar is currently collapsed.</p>
            </td>
            <td>
                <aui-docs-code lang="js">
                    if (sidebar.isCollapsed()) {
                        // ...
                    }
                </aui-docs-code>
            </td>
        </tr>
        <tr>
            <td><code>isViewportNarrow()</code>
            </td>
            <td>
                <p>Returns a boolean indicating whether the browser is narrow enough to trigger the auto collapsing behaviour when resizing the browser and 'fly-out' mode when the sidebar is expanded.</p>
            </td>
            <td>
                <aui-docs-code lang="js">
                    // Is the sidebar in 'fly-out' mode?
                    return !sidebar.isCollapsed() && sidebar.isViewportNarrow();
                </aui-docs-code>
            </td>
        </tr>
        <tr>
            <td><code>collapsedTriggersSelector()</code>
            </td>
            <td>
                <p>Returns a jQuery selector string for the trigger elements when the sidebar is in a collapsed state, useful for delegated event binding.</p>
                <p></p>When using this selector in event handlers, the element (<code>this</code>) will either be an <code>&lt;a&gt;</code> (when the trigger was a tier-one menu item) or an element with class <code>aui-sidebar-group</code> (for non-tier-one
                items).
                <p></p>
                <p>You should check the value of <code>isCollapsed()</code> in your event handler</p>
            </td>
            <td>
                <aui-docs-code lang="js">
                    var selector = sidebar.collapsedTriggersSelector();
                    sidebar.$el.on('click', selector, function (e) {
                        if (!sidebar.isCollapsed()) {
                            return;
                        }

                        // ...
                    });
                </aui-docs-code>
            </td>
        </tr>
    </tbody>
</table>
<h4>Events</h4>
<p>You can listen to events triggered by the sidebar by calling on(), e.g.,</p><pre><code class="javascript">AJS.sidebar.on(<span class="string">'collapse-end'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span> <span class="comment">/* ... */</span> });</code></pre>
<table
class="aui">
    <thead>
        <tr>
            <th>Event</th>
            <th>Description</th>
            <th>Example Usage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>expand-start, expand-end</code>
            </td>
            <td>
                <p>Fired when the sidebar is expanded.</p>
                <p>One can distinguish between a user-initiated collapse and a browser resize collapse by checking the <code>isResponsive</code> attribute on the event object.</p>
                <p>One can prevent sidebar from expanding by calling <code>preventDefault()</code> method on the <code>expand-start</code> event object.</p>
                <p>One can determine whether the sidebar is in fly-out mode by checking <code>isViewportNarrow()</code> in the event handler.</p>
            </td>
            <td>
                <aui-docs-code lang="js">
                    AJS.sidebar.on('expand-end', function () {
                        console.log('Sidebar was expanded.');
                    });
                </aui-docs-code>
            </td>
        </tr>
        <tr>
            <td><code>collapse-start, collapse-end</code>
            </td>
            <td>
                <p>Fired when the sidebar is collapsed.</p>
                <p>One can prevent sidebar from collapsing by calling <code>preventDefault()</code> method on the <code>collapse-start</code> event object.</p>
                <p>One can distinguish between a user-initiated collapse and a browser resize collapse by checking the <code>isResponsive</code> attribute on the event object.</p>
            </td>
            <td>
                <aui-docs-code lang="js">
                    AJS.sidebar.on('collapse-end', function () {
                        console.log('Sidebar was collapsed.');
                    });
                </aui-docs-code>
            </td>
        </tr>
    </tbody>
</table>

<p>If the sidebar has animation disabled, or the user has no animation support the <code>*-end</code> events will fire immediately after the changes have been made.</p>
