---
component: System notifications
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/patterns/system-notifications/" class="aui-button aui-button-link" id="adg-button">Design guidelines</a>

<h3>Summary</h3>

<p>Replaces electric Charlie for when there is an error or issue with an instance. System notifications are another
    type of page layout and therefore rely on layout and page content layout classes</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-current">experimental</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-page-layout"><code>com.atlassian.auiplugin:aui-page-layout</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.7</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <section id="content" role="main" class="aui-page-notification aui-page-size-medium">
        <div class="aui-page-panel">
            <div class="aui-page-pannel-inner">
                <section class="aui-page-panel-content">
                    <h1>Down for maintenance</h1>

                    <div class="aui-page-notification-description">
                        <p><strong>EAC is being upgraded</strong> and should be back online by 6:00pm Sydney time.
                        </p>
                    </div>
                    <form action="#" method="post" id="d-example" class="aui top-label">
                        <div class="field-group">
                            <input class="text" type="text" id="d-email-example" aria-label="Email address" name="d-email"
                                   title="email" placeholder="Enter your email address">
                            <input class="aui-button aui-button-primary" type="submit" id="submit-example" name="submit"
                                   value="Subscribe to updates">
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <div class="aui-page-notification-details">
            <div class="aui-page-notification-details-header">
                <strong>Last updated</strong> 11:52 AEST, November 28 2013
            </div>

            <div class="aui-page-notification-details-header">
                <div class="aui-page-notification-details-header-expander">
                    <a id="more-details-trigger-1-example" data-replace-text="Hide detailed error message"
                       class="aui-expander-trigger" aria-controls="more-details-content-example">Show detailed error
                        message</a>
                </div>
            </div>

            <div id="more-details-content-example" class="aui-page-notification-details-content aui-expander-content"
                 aria-expanded="false" aria-hidden="true">
                <h2>very issue</h2>

                <h3>wow</h3>

                <p>such problems</p>

                <h3>much inform</h3>

                <p>how fix?</p>

                <h3>many stacktrace</h3>

                <p>oh wow</p>
            </div>
        </div>
    </section>
</div>
<h3>Code</h3>

<p>System notifications are used to report an instance error or incident. This includes things from 404s to 500s and
    something as innocent as an instance upgrade. It provides a hook for users to subscribe to email updates and
    contains a way to provide a more detailed log of the issue.</p>

<h4>HTML</h4>

<p>System notifications is a page layout so you must pay special attention to the upper level classes such as <code>aui-page-notification</code>,
    <code>aui-page-size-medium</code>, <code>aui-page-panel</code>, <code>aui-page-panel-inner</code> and <code>aui-page-panel-content</code>.
    All of these are required to render the system notifications page correctly.</p>
<aui-docs-example lang="html">
    <section id="content-example" role="main" class="aui-page-notification aui-page-size-medium">
        <div class="aui-page-panel">
            <div class="aui-page-pannel-inner">
                <section class="aui-page-panel-content">
                    <h1>Down for maintenance</h1>
                    <div class="aui-page-notification-description">
                        <p><strong>EAC is being upgraded</strong> and should be back online by 6:00pm Sydney time.</p>
                    </div>
                    <form action="#" method="post" id="d" class="aui top-label">
                        <div class="field-group">
                            <input class="text" type="text" id="d-email" aria-label="Email address" name="d-email" title="email" placeholder="Enter your email address">
                            <input class="aui-button aui-button-primary" type="submit" id="submit" name="submit" value="Subscribe to updates">
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <div class="aui-page-notification-details">
            <div class="aui-page-notification-details-header">
                <strong>Last updated</strong> 11:52 AEST, November 28 2013
            </div>

            <div class="aui-page-notification-details-header">
                <div class="aui-page-notification-details-header-expander">
                    <a id="more-details-trigger-1" data-replace-text="Hide detailed error message" class="aui-expander-trigger" aria-controls="more-details-content">Show detailed error message</a>
                </div>
            </div>

            <div id="more-details-content" class="aui-page-notification-details-content aui-expander-content" aria-expanded="false" aria-hidden="true">
                <h2>very issue</h2>
                <h3>wow</h3>
                <p>such problems</p>
                <h3>much inform</h3>
                <p>how fix?</p>
                <h3>many stacktrace</h3>
                <p>oh wow</p>
            </div>
        </div>
    </section>
</aui-docs-example>