---
component: Toolbar
layout: main-layout.html
---

<h3>Summary</h3>

<p>Toolbar2 replaces Toolbar, which included its own buttons implementation. Now we have a Buttons component, Toolbar2 is available as a wrapper. Note that AUI Buttons includes a wrapper that creates combined button sets.</p>
<p>Toolbar2 simply creates the layout:</p>
<ul>
    <li>(required) primary and secondary, defaulting to left/right alignment</li>
    <li>(optional) groups, defaulting to rows - if only one row is required this can be omitted</li>
</ul>
<p>The buttons component provides all buttons, button states, dropdown integration etc.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-toolbar2"><code>com.atlassian.auiplugin:aui-toolbar2</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example toolbar2-example">
    <div class="aui-toolbar2">
        <div class="aui-toolbar2-inner">
            <div class="aui-toolbar2-primary">
                <div id="button-set" class="aui-buttons">
                    <button class="aui-button aui-button-primary">Edit</button>
                </div>
                <div id="button-set1" class="aui-buttons">
                    <button class="aui-button">Assign</button>
                    <button class="aui-button">Assign to me</button>
                    <button class="aui-button">Comment</button>
                    <button class="aui-button aui-dropdown2-trigger" aria-owns="toolbardemo-dropdown2-more" aria-haspopup="true" aria-controls="toolbardemo-dropdown2-more" data-container="#button-set1">More</button>
                </div>
            </div>
            <div class="aui-toolbar2-secondary">
                <div id="button-set2" class="aui-buttons">
                    <button class="aui-button aui-dropdown2-trigger" aria-owns="dropdown2-view" aria-haspopup="true" aria-controls="dropdown2-view" data-container="#button-set2"><span class="aui-icon aui-icon-small aui-iconfont-configure">More</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- .aui-toolbar-inner -->
    </div>

    <div id="toolbardemo-dropdown2-more" class="aui-dropdown2 aui-style-default" data-dropdown2-alignment="left">
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#" class="active">Agile board</a>
                </li>
                <li><a href="#">Rank to top</a>
                </li>
                <li><a href="#">Rank to bottom</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Log work</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Attach files</a>
                </li>
                <li><a href="#">Attach screenshot</a>
                </li>
                <li><a href="#">Add/Edit UI mockup</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Voters</a>
                </li>
                <li><a href="#">Watch issue</a>
                </li>
                <li><a href="#">Watchers</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Create sub-task</a>
                </li>
                <li><a href="#">Convert to sub-task</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Move</a>
                </li>
                <li><a href="#">Link</a>
                </li>
                <li><a href="#">Clone</a>
                </li>
                <li><a href="#">Labels</a>
                </li>
                <li><a href="#">Create test session</a>
                </li>
            </ul>
        </div>
        <div class="aui-dropdown2-section">
            <ul class="aui-list-truncate">
                <li><a href="#">Delete</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="dropdown2-view" class="aui-dropdown2 aui-style-default" data-dropdown2-alignment="right">
        <ul class="aui-list-truncate">
            <li><a href="#" class="active">XML</a>
            </li>
            <li><a href="#" class="">Word</a>
            </li>
            <li><a href="#" class="">Print version</a>
            </li>
        </ul>
    </div>
</div>



<h3>Code</h3>

<p>Simple example with left/right layout:</p>
<aui-docs-example lang="html">
    <div class="aui-toolbar2" role="toolbar">
        <div class="aui-toolbar2-inner">
            <div class="aui-toolbar2-primary"><button class="aui-button">Button A</button></div>
            <div class="aui-toolbar2-secondary"><button class="aui-button">Button B</button></div>
        </div>
    </div>
</aui-docs-example>

<p>Markup with all options:</p>
<aui-docs-example lang="html">
    <div class="aui-toolbar2" role="toolbar">
        <div class="aui-toolbar2-inner">
            <div class="aui-toolbar2-group">
                <div class="aui-toolbar2-primary"><button class="aui-button">Button A</button></div>
                <div class="aui-toolbar2-secondary"><button class="aui-button">Button B</button></div>
            </div>
            <div class="aui-toolbar2-group">
                <div class="aui-toolbar2-primary"><button class="aui-button">Button C</button></div>
                <div class="aui-toolbar2-secondary"><button class="aui-button">Button D</button></div>
            </div>
        </div>
    </div>
</aui-docs-example>
