@import 'imports/global';

/* AUI BUTTONS
 * Note hover/disabled styles set directly as they are not precisely the same as
 * if we used straight opacity.
 */

/* Basic Button Style */
.aui-button,
a.aui-button,
.aui-button:visited {
    #aui.box-sizing();
    background: @aui-button-default-bg-color;
    border: @aui-button-border-width @aui-button-border-style @aui-button-default-border-color;
    border-radius: @aui-button-border-radius;
    color: @aui-button-default-text-color;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: @aui-button-font-size;
    font-variant: normal;
    font-weight: normal;
    height: @aui-button-height; /* 30px - using ems so the fields increase in line with user specified font-sizes */
    line-height: @aui-button-width;   /* 20px */
    margin: 0;
    padding: @aui-button-padding-y @aui-button-padding-x;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    &.aui-button-light{
        background: @aui-button-light-bg-color;
    }
}

.aui-button ~ .aui-button {
    margin-left: @aui-grid;
}

/* Ensure underlines not added by link styles */
a.aui-button:hover,
a.aui-button:active,
a.aui-button:focus {
    text-decoration: none;
}

/* Firefox doesn't add OS focus border if there is a button outline, so we add one ourselves */
form.aui .button:focus,
form.aui .cancel:focus,
.aui-button:focus {
    outline: 1px dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 1px;
}

/* Control button height in Firefox. See http://www.experimentgarden.com/2010/11/firefox-buttontext-height-and-padding.html */
.aui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.aui-button:focus,
.aui-button:hover,
.aui-button-subtle.aui-button:focus,
.aui-button-subtle.aui-button:hover {
    background: @aui-button-default-hover-bg-color;
    border-color: @aui-button-default-active-border-color;
    color: @aui-button-default-active-text-color;
    text-decoration: none;
}

.aui-button.aui-button-subtle:active,
.aui-button.aui-button-subtle.active {
    border-color: @aui-button-default-active-border-color;
}

.aui-button:active,
.aui-button.active,
.aui-header .aui-button-split-more.active,
.aui-button-subtle.aui-button:active,
.aui-button-subtle.aui-button.active {
    #aui.shadow.inner(inset @aui-button-active-inner-shadow-x @aui-button-active-inner-shadow-y @aui-button-active-inner-shadow-blur @aui-button-active-inner-shadow-spread @aui-button-active-inner-shadow-color);
    background-image: none;
    background: @aui-button-default-active-bg-color;
    text-decoration:none;
}

.aui-buttons .aui-button.aui-button-split-main {
    //The pseudo el divider replaces the right border
    &:not(:active){
        border-right-color: transparent;
    }

    &:not(.aui-button-primary) {
        //Don't show the pseudo el divider when hovering on either button
        &:hover, &:active, &:focus {
            + .aui-button-split-more:before {
                visibility: hidden;
            }
        }

        + .aui-button-split-more {
            &:hover, &:active, &:focus {
                &:before {
                    visibility: hidden;
                }
            }
        }

        &:hover + .aui-button-split-more {
            //When you hover on the main button, give the more button a left border (the pseudo el divider is overlapping,
            //the main button's right border, and so it would be obscured)
            border-left: @aui-button-border-width solid @aui-button-default-active-border-color;

            //Whenever you get a border, shift to make absolute movement 0
            //move once to overlap correctly, and once to compensate for the border
            margin-left: -2 * @aui-button-border-width;
        }
    }

    + .aui-button-split-more {
        margin-left: -@aui-button-border-width; //overrides from the normal aui buttons

        &:focus,
        &:hover {
            margin-left: -2 * @aui-button-border-width;
        }

        &.aui-dropdown2-trigger {
            &:before {
                content: '';
                border-left: @aui-button-border-width solid @aui-button-split-separator-default-color;
                bottom: @aui-button-split-separator-edge;
                display: block;
                left: -@aui-button-border-width;
                position: absolute;
                top: @aui-button-split-separator-edge;
            }

            &.aui-button-primary:before {
                border-color: @aui-button-split-separator-primary-color;
            }
        }
    }
}

/* Primary Buttons */
.aui-button.aui-button-primary,
.aui-button.aui-button-primary:visited {
    background: @aui-button-primary-bg-color;
    border-color: @aui-button-primary-border-color;
    color: @aui-button-primary-text-color;
    font-weight: bold;
    -webkit-font-smoothing: antialiased; /* for chrome on mac */
}

.aui-button.aui-button-primary:hover,
.aui-button.aui-button-primary:focus {
    background: @aui-button-primary-hover-bg-color;
    border-color: @aui-button-primary-active-border-color;
    color: @aui-button-primary-active-text-color;
}

.aui-button.aui-button-primary:active {
    #aui.shadow.inner(inset @aui-button-active-inner-shadow-x @aui-button-active-inner-shadow-y @aui-button-active-inner-shadow-blur @aui-button-active-inner-shadow-spread @aui-button-active-inner-shadow-color);
    background: @aui-button-primary-active-bg-color;
    background-image: none;
    background: @aui-button-primary-active-bg-color;
    text-decoration:none;
}

/* Link style buttons - used for destructive/cancel actions ONLY */
.aui-button.aui-button-link,
.aui-button.aui-button-link:visited,
.aui-button.aui-button-text,
.aui-button.aui-button-text:visited  {
    background: transparent;
    border-color: transparent;
    color: @aui-link-color;
    padding: @aui-button-padding-y 0;
    text-decoration: none;
    box-shadow: none;
}

.aui-button.aui-button-link:focus,
.aui-button.aui-button-link:hover,
.aui-button.aui-button-link:active,
.aui-buttons .aui-button.aui-button-link:focus,
.aui-buttons .aui-button.aui-button-link:hover,
.aui-buttons .aui-button.aui-button-link:active,
.aui-buttons .aui-button.aui-button-link[aria-pressed="true"],
.aui-button.aui-button-text:focus,
.aui-button.aui-button-text:hover,
.aui-button.aui-button-text:active,
.aui-buttons .aui-button.aui-button-text:focus,
.aui-buttons .aui-button.aui-button-text:hover,
.aui-buttons .aui-button.aui-button-text:active,
.aui-buttons .aui-button.aui-button-text[aria-pressed="true"] {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-decoration: underline;
}

.aui-button.aui-button-text,
.aui-button.aui-button-text:visited  {
    border: none;
    font-size: inherit;
    height: inherit;
    line-height: normal;
    padding: 0;
}

/* Subtle/hybrid/entity action/mugger buttons */
.aui-button.aui-button-subtle {
    background: transparent;
    border-color: transparent;
    color: @aui-button-subtle-text-color;
}
.aui-buttons .aui-button.aui-button-subtle {
    border-radius: @aui-button-border-radius;
}
.aui-button.aui-button-subtle .aui-icon {
    margin-right: 1px;
}

/* when a button label is present next to an aui-icon (eg sidebar config) */
.aui-button {
    > .aui-icon {
        + .aui-button-label {
            margin-left: (@aui-grid / 2)-1;
        }
    }
}

/* Compact Buttons */
.aui-button.aui-button-compact {
    font-size: @aui-font-size-small;
    height: 2.16666666666667em; /* 26px with 12px font-size */
    padding: (@aui-button-padding-y / 2) (@aui-button-padding-x * .8);
    line-height: 1.66666666666667;
}

/* End Compact Buttons */

/* aui-buttons groups buttons together into one button lozenge. */
.aui-buttons {
    display: inline-block;
    font-size: 0;
}
.aui-buttons:after {
    clear: both;
    content: "";
    display: table;
}
.aui-buttons .aui-button {
    border-radius: 0;
    margin: 0;
}
.aui-buttons .aui-button:first-child {
    border-top-left-radius: @aui-button-border-radius;
    border-bottom-left-radius: @aui-button-border-radius;
}
.aui-buttons .aui-button:last-child {
    border-top-right-radius: @aui-button-border-radius;
    border-bottom-right-radius: @aui-button-border-radius;
}
.aui-buttons + .aui-buttons {
    margin-left: @aui-grid;
}

/* Grouped buttons go into toolbar style */
.aui-buttons .aui-button {
    &:not(.aui-button-primary) {
        &:focus,
        &:hover,
        &:active {
            border-color: @aui-button-default-disabled-text-color;
        }
    }
}
.aui-buttons .aui-button[disabled],
.aui-buttons .aui-button[disabled]:hover,
.aui-buttons .aui-button[disabled]:focus,
.aui-buttons .aui-button[disabled]:active,
.aui-buttons .aui-button[aria-disabled="true"],
.aui-buttons .aui-button[aria-disabled="true"]:hover,
.aui-buttons .aui-button[aria-disabled="true"]:focus,
.aui-buttons .aui-button[aria-disabled="true"]:active {
    border-color: @aui-button-default-disabled-border-color;
}


/* Grouped Primary Buttons */
.aui-buttons .aui-button ~ .aui-button {
    border-left-width: 0;
    padding-left: @aui-grid + 1;
}

.aui-buttons .aui-button ~ .aui-button:hover,
.aui-buttons .aui-button ~ .aui-button:focus,
.aui-buttons .aui-button ~ .aui-button:active {
    border-width: @aui-button-border-width;
    margin-left: -(@aui-button-border-width);
    position: relative;
}

/* Selected buttons - NOT supported for free-standing primary buttons
ARIA usage from http://www.paciellogroup.com/blog/misc/ARIA/togglebutton.html */
.aui-button[aria-pressed="true"],
.aui-buttons .aui-button[aria-pressed="true"],
.aui-buttons .aui-button[aria-pressed="true"].aui-button-primary,
.aui-buttons .aui-button[aria-pressed="true"].aui-button-subtle {
    background: @aui-button-grouped-selected-bg-color;
}

.aui-button[aria-pressed="true"].aui-button-subtle,
.aui-buttons .aui-button[aria-pressed="true"].aui-button-subtle {
    color: @aui-button-default-text-color;
    border-color: @aui-button-default-border-color;
}

.aui-buttons .aui-button[aria-pressed="true"]:active {
    #aui.shadow.inner(@aui-button-active-inner-shadow-x @aui-button-active-inner-shadow-y @aui-button-active-inner-shadow-blur @aui-button-active-inner-shadow-spread @aui-button-active-inner-shadow-color);
    background: @aui-button-default-active-bg-color;
}


/* Disabled states (keep last to avoid excessive selector weight)
---------------------------------------------------------------------- */
.aui-button[disabled],
.aui-button[disabled]:hover,
.aui-button[disabled]:focus,
.aui-button[disabled]:active,
.aui-button[aria-disabled="true"],
.aui-button[aria-disabled="true"]:hover,
.aui-button[aria-disabled="true"]:focus,
.aui-button[aria-disabled="true"]:active,
.aui-button[aria-disabled="true"][aria-pressed] {
    background: @aui-button-default-disabled-bg-color;
    border-color: @aui-button-default-disabled-border-color;
    box-shadow: none;
    color: @aui-button-default-disabled-text-color;
    cursor: default;
}

/* Subtle buttons have their own disabled state*/
.aui-button.aui-button-subtle[disabled],
.aui-button.aui-button-subtle[aria-disabled="true"] {
    border: 0;
    background: none;
}

.aui-button.aui-button-primary[disabled],
.aui-button.aui-button-primary[disabled]:hover,
.aui-button.aui-button-primary[disabled]:focus,
.aui-button.aui-button-primary[disabled]:active,
.aui-button.aui-button-primary[aria-disabled="true"],
.aui-button.aui-button-primary[aria-disabled="true"]:hover,
.aui-button.aui-button-primary[aria-disabled="true"]:focus,
.aui-button.aui-button-primary[aria-disabled="true"]:active {
    background: @aui-button-primary-disabled-bg-color;
    border-color: @aui-button-primary-disabled-border-color;
    box-shadow:none;
    color: @aui-button-primary-disabled-text-color;
}

.aui-button.aui-button-link[disabled],
.aui-button.aui-button-link[disabled]:hover,
.aui-button.aui-button-link[disabled]:focus,
.aui-button.aui-button-link[disabled]:active,
.aui-button.aui-button-link[aria-disabled="true"],
.aui-button.aui-button-link[aria-disabled="true"]:hover,
.aui-button.aui-button-link[aria-disabled="true"]:focus,
.aui-button.aui-button-link[aria-disabled="true"]:active,
.aui-button.aui-button-text[disabled],
.aui-button.aui-button-text[disabled]:hover,
.aui-button.aui-button-text[disabled]:focus,
.aui-button.aui-button-text[disabled]:active,
.aui-button.aui-button-text[aria-disabled="true"],
.aui-button.aui-button-text[aria-disabled="true"]:hover,
.aui-button.aui-button-text[aria-disabled="true"]:focus,
.aui-button.aui-button-text[aria-disabled="true"]:active {
    background: transparent;
    border-color: transparent;
    color: @aui-button-default-disabled-text-color;
    text-decoration: none;
}

/* Cross-component integration
---------------------------------------------------------------------- */
/* Icons Integration
--------------------- */

.aui-button.aui-button-compact .aui-icon {
    margin-top: -1px; /* icon is 1px off, adjust it so it is centered */
}

/* Icon Colours
---------- */
.aui-button.aui-button-primary .aui-icon {
    color: @aui-button-primary-active-icon-color;
}

.aui-button .aui-icon {
    color: @aui-button-default-active-icon-color;
}

.aui-button[disabled] .aui-icon  {
    color: @aui-button-default-disabled-icon-color;
}

.aui-button[disabled].aui-button-primary .aui-icon  {
    color: @aui-button-primary-disabled-icon-color;
}

/* App Header Buttons and Split Button
---------- */
.aui-header .aui-nav .aui-button,
.aui-header .aui-nav .aui-button-primary {
    margin: 5px 0 0 10px;
}

.aui-header .aui-nav .aui-button.aui-button-split-main {
    margin-right: 0;
}

/* long selector set required to avoid a jump in non-hover focus */
.aui-header .aui-nav .aui-buttons .aui-button ~ .aui-button:hover,
.aui-header .aui-nav .aui-buttons .aui-button ~ .aui-button:focus,
.aui-header .aui-nav .aui-buttons .aui-button ~ .aui-button:active,
.aui-header .aui-nav .aui-button.aui-button-split-more {
    margin-left: 0;
}

.aui-header .aui-nav .aui-button-primary,
.aui-header .aui-nav .aui-button-primary:link,
.aui-header .aui-nav .aui-button-primary:visited {
    background: @aui-header-nav-btn-primary-bg-color;
    box-shadow: none;
    border: 0;
    color: @aui-header-nav-btn-primary-text-color;
    line-height: @aui-header-nav-btn-primary-line-height;
}

.aui-header .aui-nav .aui-button.aui-button-primary:focus,
.aui-header .aui-nav .aui-button.aui-button-primary:hover {
    background: @aui-header-nav-btn-primary-hover-bg-color;
    color: @aui-header-nav-btn-primary-hover-text-color;
}

.aui-header .aui-nav .aui-button.aui-button-primary:active,
.aui-header .aui-nav .aui-button.aui-button-primary.active {
    #aui.shadow.inner(inset @aui-button-active-inner-shadow-x @aui-button-active-inner-shadow-y @aui-button-active-inner-shadow-blur @aui-button-active-inner-shadow-spread @aui-button-active-inner-shadow-color);
    background: @aui-header-nav-btn-primary-active-bg-color;
    background-image: none;
}

.aui-button,
.aui-button.aui-button-primary {
    &[aria-busy="true"] {
        color: rgba(0, 0, 0, 0) !important;
        position: relative;

        .aui-button-spinner {
            left: 0;
            margin-left: 50%;
            position: absolute;
            top: 50%;
        }
    }
}
