<!doctype html>
<html>
    <head>
        <title>{{component}} - AUI Documentation</title>
        <link rel="stylesheet" href="../aui/css/aui.min.css">
        <link rel="stylesheet" href="../aui/css/aui-experimental.min.css">
        <link rel="stylesheet" href="../styles/index.css">
        <link rel="stylesheet" href="../styles/fonts.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script id="dist-location" type="text/html">${dist.location}</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="../aui/js/aui-soy.min.js"></script>
        <script src="../aui/js/aui.js"></script>
        <script src="../aui/js/aui-experimental.js"></script>
        <script src="../aui/js/aui-datepicker.min.js"></script>
        <script>
            requirejs.config({
                baseUrl: '../scripts'
            });
        </script>
        <script src="../scripts/index.js"></script>

    </head>
    <body>
        <div id="page">
            <header id="header" role="banner">
                <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
                    <div class="aui-header-inner">
                        <div class="aui-header-primary">
                            <h1 id="logo" class="aui-header-logo aui-header-logo-textonly">
                                <a href="../"><span class="aui-header-logo-device">AUI</span></a>
                            </h1>
                            <ul class="aui-nav __skate" style="width: auto;">
                                <li><a href="#" class="aui-docs-changelog-link">Changelog</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <section id="content" role="main">
                <header class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h1>AUI Documentation</h1>
                        </div>
                    </div>
                </header>
                <div class="aui-page-panel">
                    <div class="aui-page-panel-inner">
                        <div class="aui-page-panel-nav">
                            <nav class="aui-navgroup aui-navgroup-vertical">
                                <div class="aui-navgroup-inner">
                                    <div class="aui-nav-heading">
                                        <strong>Components</strong>
                                    </div>
                                    <ul class="aui-nav">
                                        <li><a href="auiselect2.html" class="docs-nav-link" id="auiselect2-link">AUI Select2</a></li>
                                        <li><a href="avatars.html" class="docs-nav-link" id="avatars-link">Avatars</a></li>
                                        <li><a href="badges.html" class="docs-nav-link" id="badges-link">Badges</a></li>
                                        <li><a href="buttons.html" class="docs-nav-link" id="buttons-link">Buttons</a></li>
                                        <li><a href="date-picker.html" class="docs-nav-link" id="date-picker-link">Date picker</a></li>
                                        <li><a href="dialog.html" class="docs-nav-link" id="dialog-link">Dialog</a></li>
                                        <li><a href="dialog2.html" class="docs-nav-link" id="dialog2-link">Dialog 2</a></li>
                                        <li><a href="dropdown2.html" class="docs-nav-link" id="dropdown2-link">Dropdown 2</a></li>
                                        <li><a href="expander.html" class="docs-nav-link" id="expander-link">Expander</a></li>
                                        <li><a href="flag.html" class="docs-nav-link" id="flag-link">Flag <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
                                        <li><a href="forms.html" class="docs-nav-link" id="forms-link">Forms</a></li>
                                        <li><a href="form-notification.html" class="docs-nav-link" id="form-notification-link">Form notification <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
                                        <li><a href="form-validation.html" class="docs-nav-link" id="form-validation-link">Form validation <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
                                        <li><a href="hidden-assistive-css.html" class="docs-nav-link" id="hidden-assistive-css-link">Hidden and assistive CSS</a></li>
                                        <li><a href="inline-dialog.html" class="docs-nav-link" id="inline-dialog-link">Inline dialog</a></li>
                                        <li><a href="inline-dialog2.html" class="docs-nav-link" id="inline-dialog2-link">Inline dialog 2 <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
                                        <li><a href="keyboard-shortcuts.html" class="docs-nav-link" id="keyboard-link">Keyboard shortcuts</a></li>
                                        <li><a href="labels.html" class="docs-nav-link" id="labels-link">Labels</a></li>
                                        <li><a href="lozenges.html" class="docs-nav-link" id="lozenges-link">Lozenges</a></li>
                                        <li><a href="messages.html" class="docs-nav-link" id="messages-link">Messages</a></li>
                                        <li><a href="progress-indicator.html" class="docs-nav-link" id="progress-indicator-link">Progress indicator</a></li>
                                        <li><a href="progress-tracker.html" class="docs-nav-link" id="progress-tracker-link">Progress tracker</a></li>
                                        <li><a href="restful-table.html" class="docs-nav-link" id="restful-table-link">RESTful table</a></li>
                                        <li><a href="sidebar.html" class="docs-nav-link" id="sidebar-link">Sidebar</a></li>
                                        <li><a href="single-select.html" class="docs-nav-link" id="single-select-link">Single select <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
                                        <li><a href="sortable-table.html" class="docs-nav-link" id="sortable-table-link">Sortable table</a></li>
                                        <li><a href="spinner.html" class="docs-nav-link" id="spinner-link">Spinner</a></li>
                                        <li><a href="system-notifications.html" class="docs-nav-link" id="system-notifications-link">System Notifications <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
                                        <li><a href="tables.html" class="docs-nav-link" id="tables-link">Tables</a></li>
                                        <li><a href="tabs.html" class="docs-nav-link" id="tabs-link">Tabs</a></li>
                                        <li><a href="template.html" class="docs-nav-link" id="template-link">Template</a></li>
                                        <li><a href="toolbar2.html" class="docs-nav-link" id="toolbar2-link">Toolbar 2</a></li>
                                        <li><a href="tooltips.html" class="docs-nav-link" id="tooltips-link">Tooltips</a></li>
                                        <li><a href="typography.html" class="docs-nav-link" id="typography-link">Typography</a></li>
                                    </ul>
                                    <div class="aui-nav-heading">
                                        <strong>Page layouts</strong>
                                    </div>
                                    <ul class="aui-nav">
                                        <li><a href="app-header.html" class="docs-nav-link" id="header-link">Application header</a></li>
                                        <li><a href="layout.html" class="docs-nav-link" id="layout-link">Layout</a></li>
                                        <li><a href="navigation.html" class="docs-nav-link" id="navigation-link">Navigation</a></li>
                                        <li><a href="page.html" class="docs-nav-link" id="page-link">Page</a></li>
                                        <li><a href="page-content-layout.html" class="docs-nav-link" id="page-content-layout-link">Page content layout</a></li>
                                        <li><a href="page-header.html" class="docs-nav-link" id="page-header-link">Page header</a></li>
                                    </ul>
                                    <div class="aui-nav-heading">
                                        <strong>Concepts</strong>
                                    </div>
                                    <ul class="aui-nav">
                                        <li><a href="helper.html" class="docs-nav-link" id="helper-link">Helper functions</a></li>
                                        <li><a href="mobile.html" class="docs-nav-link" id="mobile-link">Mobile <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
                                        <li><a href="soy.html" class="docs-nav-link" id="soy-link">Soy <span class="aui-lozenge aui-lozenge-current">experimental</span></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <section class="aui-page-panel-content">
                            <h2 class="component-heading">{{component}}</h2>
                            {{{ contents }}}
                        </section>
                    </div>
                </div>
            </section>
            <footer id="footer" role="contentinfo">
                <section class="footer-body">
                    <ul id="aui-footer-list">
                        <li>Copyright © 2009-2014 Atlassian</li>
                        <li><a href="https://bitbucket.org/atlassian/aui-adg/src/2ed6861e34028394894df1442eee4aa91a92aa45/LICENSE?at=master">License</a></li>
                        <li><a href="https://bitbucket.org/atlassian/aui/src/ec7949a6ea8a33bb103f7d5f91f3382cd12d0fdd/changelog.md?at=master">Changelog</a></li>
                        <li>${project.version}</li>
                    </ul>
                    <div id="footer-logo"><a href="http://www.atlassian.com">Atlassian</a></div>
                </section>
            </footer>
        </div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-6032469-23']);
            _gaq.push(['_setDomainName', '.atlassian.com']);
            _gaq.push(['_trackPageview']);
        </script>
        <script type="text/javascript">
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            function recordOutboundLink(link, category) {
                try {
                    _gaq.push(['_trackEvent', category , 'outbound', link ]);
                    setTimeout('document.location = "' + link + '"', 100)
                } catch (err) {
                }
            }
        </script>
    </body>
</html>
