/** font-awesome icon fonts */
.aui-iconfont-edit:before {
    content: "\f044"; /** fa-edit */
}

.aui-iconfont-view:before {
    content: "\f06e"; /** fa-eye */
}

.aui-iconfont-success:before {
    content: "\f058"; /** fa-check-circle */
}

.aui-iconfont-help:before {
    content: "\f059"; /** fa-question-circle */
}

.aui-iconfont-more:before {
    content: "\f141"; /** fa-ellipsis-h */
}

.aui-iconfont-configure:before {
    content: "\f013"; /** fa-cog */
}
