.demo-spinner {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.aui-item h3.spinner {
    text-align: center;
}

.aui-item pre.spinner {
    font-size: 12px;
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
}

.basic-dark,
.dark-heading {
    color: #fff;
}

.basic-dark .aui-item,
.dark-heading .aui-item {
    background-color: #205081;
    padding: 10px;
}

.dark-heading + .basic-dark {
    margin-top: 0;
}

.basic-dark pre.spinner {
    color: #333;
}

.red-spinner {
    color: #f00;
}

#spinner-trigger {
    margin-top: 10px;
}

.button-spinner {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: text-bottom;
}